body{
            box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
        }
.logo{
    background-color: #ffffff;
    color: #0c1210;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-logo{
    color: transparent;
}
ul{
    list-style: none;
    padding: 2%;
    background-color: #120375;
    color: #ffffff;
    border-radius: 12px;

    
}
.drop{ 
    display: none;}

ul li :hover .drop {
     display: block;
    position: absolute;
    margin-left: -0.14cm;
    margin-top: 0.27cm;
}
.p{
    text-decoration: underline;
    text-decoration-color: yellow;

}
.background{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(bg.jpeg);
    background-size: cover;
    
}
.explore{
    color: blueviolet;
}
.overlay{
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #120375;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: (0,0,0,0.8);
    
}
.btn{
    color: #ffffff;
    background-color: #120375;
    border: none;
    padding: 3%;
    border-radius: 12px;

}
.events{
    width: 100%;
    height: 90%;
    text-align: center;
}
.flex{
    width: 100%;
    height: 100%;
    display: flex;
    
}

/*
.img-event{
    background-image: url(bg2.jpg);
    height:auto;
    position: relative;
}

.overlay1{
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #120375;
    justify-content: space-around;
    flex-direction: column;
    align-items: left;
    background-color: (0,0,0,0.8);
}
.img2-event{
    background-image: url(turkey.png);
    height:auto;
    position: relative;
}
.overlay2{
    font-size: 20px;
    color: #120375;
    justify-content: space-around;
    flex-direction: column;
    align-items: right;
    background-color: (0,0,0,0.8);
}*/
.container{
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #120375;
    color: #ffffff;
}
.h3{
    margin-bottom: 15px;
    text-align: left;
    color: yelow;
}
.footer-content{
    width: auto;
    margin: auto;
    text-align: left;
}
.list{
    padding: 0%;
}
.list li{
    width: auto;
    list-style-type: none;
}
.booking{
    background-color: rgb(255, 234, 152);
    color: #ffffff;
    padding: 2%;
    border-radius: 15px;
    border: none;
    text-decoration: solid;
}
/*
@media(max-width: 767px){
    .footer-content{
        width:50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .container{
        width:100%;
    }
}
*/